@import url(./__submit/popup__submit.css);
@import url(./__close-icon/popup__close-icon.css);
@import url(./__container/popup__container.css);
@import url(./__container/_type/popup__container_type_full-pic.css);
@import url(./__form-set/popup__form-set.css);
@import url(./__form/popup__form.css);
@import url(./__input-error/popup__input-error.css);
@import url(./__input-error/_active/popup__input-error_active.css);
@import url(./__input/popup__input.css);
@import url(./__title/popup__title.css);
@import url(./__title/_type/popup__title_type_full-pic.css);
@import url(./__full-pic/popup_type_full-pic.css);
@import url(./__submit/_disabled/popup__submit_disabled.css);






.popup {
  display: flex;
  position: fixed;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  color: #fff;
  text-decoration: none;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
  overflow: hidden;
  z-index: 0;
  background:  rgba(0,0,0,0.9);
}







