.profile__name {
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 27px;
  line-height: calc(32.68/27);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .profile__name {
      font-size: 42px;
      line-height: calc(48/42);
  }
}
