.profile__info {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content max-content;
  column-gap: 10px;
  row-gap: 9px;
  margin-top: 22.25px;
  margin-left: 27px;
}

@media screen and (min-width: 1024px) {
  .profile__info {
   margin-left: 33px;
   row-gap: 4px;
   column-gap: 18px;
   justify-self: flex-start;
  }
}
