.popup__container_remove-card {
  display: grid;
  gap: 33px;
  position: relative;
  width: 240px;
  box-sizing: border-box;
  margin-top: 270px;
  padding-bottom: 32px;
  padding-top: 30px;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
}

@media screen and (min-width: 768px) {
  .popup__container_remove-card {
      width: 430px;
  }
}
