@import url(./_job/popup__input_job.css);
@import url(./_name/popup__input_name.css);


.popup__input {
  width: 358px;
  margin: auto;
  padding-bottom: 13px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;



}



@media screen and (min-width: 320px) and (max-width: 500px) {
  .popup__input {
      width: 180px;
      margin-left: 36px;
  }
}

.popup__input:first-of-type {
  margin-bottom: 29px;
}
