.card__like-button {
  min-width: 20.76px;
  min-height: 18.13px;
  background-image: url('../../../images/hearth.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  transition: opacity 1s ease;
}

.card__like-button:hover {
  opacity: .5;
}
