.header__logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-bottom: 40px;
}



@media screen and (max-width: 500px){
  .header__logo {
    margin-left: 27px;
    padding-bottom: 31px;
    max-width: 103px;
    max-height: 24px;
  }
}
