.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: auto;
  background-color: white;
  border-radius: 10px;

}



@media screen and (min-width: 436px) and (max-width: 500px){
  .popup__form {
   max-width: 300px;

  }
}

@media screen and (min-width: 320px) and (max-width: 436px) {
  .popup__form {
      max-width: 282px;
  }
}

.popup__form_add-new-card {

}

@media screen and (min-width: 436px) and (max-width: 500px){
  .popup__form_add-new-card {
   width: 430px;
   height: 330px;

  }
}

@media screen and (min-width: 320px) and (max-width: 436px) {
  .popup__form_add-new-card {
    width: 240px;
    height: 330px;
  }
}









