.popup__button-submit {
  border-radius: 2px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16.94/14);
  padding: 15px;
  cursor: pointer;
  transition: opacity 1s ease;
  background-color: #000;
  color: #fff;
  border: none;
}

.popup__button-submit:hover {
  opacity: .8;
}

@media screen and (min-width: 768px) {
  .popup__button-submit {
      font-size: 18px;
      line-height: calc(22/18);
  }
}
