.popup__close-icon {
  background-image: url(../../../images/Close\ Icon.svg);
  width: 58px;
  height: 58px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  left: 414px;
  top: -45px;
}

.popup__close-icon:hover {
  opacity: 0.6;
  -webkit-transition: ease-in-out 0.4s;
  -o-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}





@media screen and (min-width: 426px) and (max-width: 500px) {
  .popup__close-icon {
      width: 50px;
      height:50px;
      left: 275px;
      top: -45px;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .popup__close-icon {
      width: 35px;
      height: 35px;
      left: 255px;
      top: -45px;
   }

}



