.profile__add-button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 33px;
  padding: 17px;
  cursor: pointer;
  transition: opacity 1s ease;
  background-color: #000;
  border: 1px solid #fff;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (min-width: 1024px) {
  .profile__add-button {
  width: 150px;
  padding: 12px;
  align-self: center;
  justify-self: flex-end;
  margin-top: 0;
  }
}
