.popup__form {
  display: flex;
  flex-direction: column;
  width: calc(100% - (2*22px));
  margin: 0 auto;
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .popup__form {
      width: calc(100% - (2*36px));
      padding-bottom: 35px;
  }
}
