.cards__delete-button {
  position: absolute;
  background-image: url(../../../images/remove.svg);
  width: 48px;
  height: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  align-self: flex-end;
  border: none;
  margin-top: 20px;
  padding: 0;
  cursor: pointer;
}

.cards__delete-button:hover {
  transition: ease-in-out 0.3s;
    opacity: 0.6;
}
