.header {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 1024px) {
  .header {
      max-width: calc(100% - (2*100px));
  }
}

@media screen and (min-width: 1280px) {
  .header {
      max-width: calc(100% - (2*200px));
  }
}
